* @kashmawy @elmahdy-intake37 @ibraheemhuspy @dflima @yasserAboelgheit @mdemblani

requirements/ @yahiahuspy

apps/users @georgemessiha22 @elmahdy-intake37

apps/hubspot @yasserAboelgheit

HuspyBackendService/settings @yahiahuspy
build/ @yahiahuspy @georgemessiha22
